h1 {
    color: rgb(12, 93, 124); 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: slateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

body {
   
    background-color:rgb(197, 241, 197)
   }
