h1 {
    color: skyblue; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

p {
    color: slateblue;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}  

body {
   
    background-color: #cccccc;
   }
